@use './../styles/components/responsive' as *;

.connect {
  button {
    border: none;
    height: 40px;
    color: var(--white, #fff);
    background-color: var(--color-secondary);
    will-change: transform;
    transition: transform 0.2s ease;
    font-weight: 500;
    border-radius: var(--global-border-radius);
    padding: 0.5rem 1rem;
    min-width: 120px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    &:hover {
      transform: scale(1.025);
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

.wallet {
  font-size: 14px;
  font-weight: 600;
  column-gap: 0.5rem;
  border-radius: var(--global-border-radius);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 0.2rem 0.25rem 0.2rem 0.5rem;
height: 400px;
  &:hover {
    transform: scale(1.025);
    transition: all 0.3s ease-in-out;
  }

  &:active {
    transform: scale(0.95);
    transition: all 0.3s ease;
  }

  img {
    transform: scale(0.8);
    border-radius: 999px;
  }

  li {
    column-gap: 0.5rem;

    &:last-child {
      padding-left: 0.1rem;
      background-color: var(--black-025);
      border-radius: var(--global-border-radius);
    }
  }
}

@include medium-down() {
  .wallet {
    padding: 0;

    li {
      &:first-child {
        display: none;
      }

      &:last-child {
        span {
          display: none;
        }
      }
    }
  }
}
