@use './../styles/components/responsive' as *;

.footer {

    grid-row-start: 3;
    display: flex;
    gap: 1rem;
    padding: 1rem;
  
    .large-nav {
      @include medium-down() {
        display: none;
      }
    }
  
    a {
      text-wrap: nowrap;
      background-color: var(--global-background-color);
      padding: 0.7rem;
      text-align: center;
    }
  
}


@include medium-down() {
  .page {
    img {
      height: 200px;
    }
  }
}
