.next-toast {
  position: fixed;
  z-index: 9999;
  inset: 16px;
  pointer-events: none;
  z-index: 9999;
}

.toast {
  background: var(--white);
  border-radius: var(--global-border-radius);
  box-shadow: 0px 9.64505px 12.8601px rgba(0, 0, 0, 0.1);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  position: relative;
  transform: translateX(-50%);
  z-index: 9999;
  padding: 1rem 2rem;
  margin-top: 1rem;
  font-weight: bolder;

  > div {
    column-gap: 0.5rem;
  }

  button {
    padding: 0.1rem 0.5rem;
    font-size: 0.7rem;
  }
}
